<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="limpieza">Gestion de limpieza</a></li>
            <li><a href="/distribucion">Gestion de distribucion</a></li>
            <li><a href="/entradas/promociones">Gestion de Entradas y Promociones</a></li>
            <li><a href="/recursoshumanos">Gestion de recursos humanos</a></li>
        </ul>
    </nav>
</body>
</html>